.popup{
    position: fixed;
    top: 2rem;
    right: 0.5rem;
    background: var(--color-white);
    border-radius: 3px;
    border: 1px solid var(--color-primary);
    /* border-bottom: 0; */
}
.popup .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;  
    position: relative;
    gap: 1rem;
    margin-top: 10px;
}
.wrapper p{
    color: var(--color-dark);
}
.wrapper .check__icon{
    color: var(--color-success) !important;
    font-size: 1.5rem !important;
    /* background: var(--color-dark);
    border-radius: 50%; */
}
.progress-bar{
    background: var(--color-success);
    height: 5px;
}
.close__icon{
    position: absolute;
    top: 10px;
    right: 5px;
    color: var(--color-dark);
}