.portfolio{    
    text-align: center;
    display: grid;
    place-items: center;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 3rem;
  }
  
  .portfolio .nav__links,
  .portfolio .nav__toggle-btn{
    display: none;
  }
  
  .portfolio .nav__container .theme__btn{
    margin-bottom: -2rem;
  }
  
  .portfolio__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin-top: 1rem;
  }
  
  .portfolio__container .portfolio__item{
    position: relative;    
    border-radius: 5px;
    border: 15px solid var(--background-primary);    
    background: var(--color-white);    
    text-align: center;    
    padding: 5px;
    box-shadow: 0 10px 10px hsla(0deg, 0%, 0%, 0.05);
  }
  .portfolio__container .portfolio__item:hover{
    background: transparent;       
    border: 2px solid var(--color-primary);    
  }
  
  .portfolio__container .portfolio__item img {
    width: 100%;
    height: 200px;  
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    filter: brightness(100%);
  }
  
  .portfolio__container .portfolio__item  h3{
    color: var(--color-dark); 
  } 
  .portfolio__item .button__group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 1.5rem;
  }
  .button__group .btn{
    width: max-content;
    margin-top: 0;
    padding: 0.2rem 1.5rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
  }
  .portfolio a{
    margin-top: 1.5rem;   
}
  
  @media (min-width: 650px){
    .portfolio__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
      }
    
  }
  
  @media (min-width: 1024px){
    .portfolio__container{
        grid-template-columns: repeat(3, 1fr);
      }
  }